@import 'config';

.container{
    padding: 0 Max(5vw, 2.5em);

}

.main{
    display: grid;
    height: 100%;

}

nav{
        

    position: absolute;
    width: 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 6vw;
    z-index: 3;
    

    .toggler{
        z-index: 3;
        cursor: pointer;
        position: absolute;
        
        .hamburger{
            display: unset;
            // display: none;
        }
        .close{
            display: none;
            // display: block;
            z-index: 3;
        }
    }
    .logo{
        margin: 0 auto;
    }
    .nav-list{
        position: absolute;
        left: 0;
        
        align-items: center;
        justify-content: flex-end;
        display: none;
        display: flex;
        transition: transform .2s ease-in-out;
        transform: translateX(100%);

        list-style: none;
        gap: 5vw;
        gap: 1.5em;
        
        padding: 0 6vw;
        width: 100%;
        height: 100%;

        background: $white;

        .nav-link{
            font-family: 'Spartan', sans-serif;
            font-weight: 600;  
            color: $black;
            font-size: .8rem;
            
        }
        
    }

}

.hero{
    position: relative;
    grid-row: 1/3;
    grid-column: 1/2;
    overflow: hidden;

    .carousel{
        height: Max(100%, 350px);
        height: 60vh;
        width: 100%;
        display: flex;
        

        img{
            width: 100%;
            // height: 100%;
            object-fit: cover;
            flex-shrink: 0;
        }
        
    }
    
}
.carousel-arrows{
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 2;

    display: grid;
    justify-items: end;
    align-items: end;

    .buttons{
        display: flex;

        button{
            display: flex;
            align-items: center;
            aspect-ratio: 1/1;
            padding: Max(1.8vw, 1.5em);
            border: none;
            background: $black;

            transition: all .1s ease-in-out;

            &:hover{
                background-color: $dark-gray;
            }
            img{
                width: .8rem;
                height: unset;
            }
        }
    }
    

}

.article{
    padding: 5em 0;
    height: min-content;

    .title{
        margin-bottom: .8em;
    }
    p{
        margin-bottom: 2.5em;
    }
    a{
        text-decoration: none;
        color: $black;
        letter-spacing: 0.4em;

        transition: all .1s ease-in-out;

        .arrow{
            margin-left: 1em;
            
            img{
                width: 3rem;
            }
        }
        &:hover{
            color: $gray;
        }
    }
}

.about-us{
    padding: 5em 0;

    .title{
        margin-bottom: .8em;
    }
}

@media (min-width: 600px){

    .main{
        // height: 100vh;

        grid-template-columns: 1fr 1fr min-content 1fr;
        grid-template-rows: 60vh auto;
        grid-template-rows: 1fr auto;


        .hero, .carousel-arrows, .article{
            grid-column: unset;
            grid-row: 1/2;
        }
        .hero{
            grid-column: 1/3;
        }
        .carousel-arrows{
            grid-column: 3/4;
        }
        .article{
            grid-column: 3/5;

            padding: 0;
            margin: auto 0;
        }

        .about-us{
            grid-column: 2/4;

            padding: 0;
            margin: auto 0;
        }
        .image-light{
            grid-column-start: 4;
        }
    }

    nav{
        align-items: center;
        gap: 3em;

        .toggler{
            display: none;
        }
        .logo{
            margin: 0;
        }
        .nav-list{
            display: flex;
            position: relative;
            background: none;
            transform: translateX(0);
            padding: 0;

            width: auto;
            height: auto;

            .nav-link{
                color: $white;
            }
        }

    }

}

